requests # Apache-2.0, cinder, manila
PyYAML # MIT, cinder, manila
six # MIT, cinder, manila
enum34 # BSD

python-dateutil # BSD
retryz # Apache-2.0
cachez # Apache-2.0
bitmath # MIT
urllib3 # MIT
setuptools